<?xml version="1.0"?>
<!--
/**
 * Copyright © Byte8 Ltd. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <byte8_pingbell>
            <activation>
                <endpoint>https://api.byte8.io/graphql</endpoint>
                <timeout>5</timeout>
                <connect_timeout>2</connect_timeout>
            </activation>
            <general>
                <enabled>0</enabled>
                <api_key/>
            </general>
            <events>
                <new_order_pingbell_id/>
                <new_invoice_pingbell_id/>
                <new_shipment_pingbell_id/>
                <new_creditmemo_pingbell_id/>
                <new_customer_pingbell_id/>
            </events>
        </byte8_pingbell>
    </default>
</config>
